*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
@import url('./sections/home.css');
html,
body{
    font-size: 2rem;
    background: #121212;
}

main{
    width: 90%;
    margin: auto;
    font-family: 'Poppins';
    color: white;
}

.textViolet{
    font-family: 'Playfair Display', serif;
    color: #BC78FF;
}