@import url("sections/home.css");
@import url("heading_section.css");
@import url("sections/about.css");
@import url("sections/projects.css");
@import url("sections/blog.css");
@import url("sections/form.css");
@import url("sections/footer.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html,
body {
  background-color: #1a1a40;
}

main {
  width: 90%;
  padding: 2px;
  margin: auto;
  font-family: "Poppins";
  color: white;
}

.colorText {
  color: #f4a49e;
  font-weight: bold;
}

#mailMe{
  color:#f4a49e !important;
}
