#about{
    height: 100vh;
}


.line-container{
    width: 260px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    font-size: .7rem;
}
.line-container
p{
    width:200px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    border-radius: 5px;
    background-color: #F4A49E;
}

.line-container
.line{
    display: block;
    height: 4px;
    width: 50px;
    background-color: #fff;
}

.illustration_pagraphe{
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
}

#poulet{
    width: 190px;
}

.paragraphe{
    font-size: .6rem;
}


@media only screen and (min-width: 768px){
    .paragrapheContainer{
        flex-direction: row;
    }
}

.preference{
    margin-top: 55px;
}

#about
button{

}

