#blogs {
  margin-top: 150px;
}

#blogs h1 {
  padding: 5px;
  font-family: "PT Serif", serif;
  color: #df5646;
}

.card {
  margin: auto;
}
.lienBlog {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 40px;
  background-color: #df5646;
  color: white;
}

.blogContainer {
  padding: 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 50px auto;
  height: 250px;
  background-color: #32324c;
}

.blogContainer img {
  width: 100%;
}

@media only screen and (max-width: 500px) {
  .card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    max-width: 210px;
  }
}
@media only screen and (min-width: 501px) {
  .card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    gap: 20px;
  }
  .blogContainer {
    width: 500px;
    padding: 5px;
  }
}
