#blogs {
  margin-top: 100px;
}
.blogContainer {
  padding: 10px;
  margin-top: 20px;
  border-radius: 10px;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  background-color: #32324c;
}
.blogContainer .titleBlog {
  font-size: 1.3rem;
  font-weight: bold;
}
.blogContainer .descBlog {
  margin-top: 7px;
}
.blogContainer img {
  width: 100%;
  border-radius: 10px;
}
.lienBlog {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 110px;
  border-radius: 5px;
  color: white;
  background-color: #df5646;
}

@media only screen and (max-width: 500px) {
  .blogContainer {
    max-width: 320px;
    margin: 50px auto;
  }
}

@media only screen and (min-width: 501px) {
  .card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px auto;
    gap: 50px;
  }
  .blogContainer {
    max-width: 320px;
  }
}
