/*
.blogContainer{
    margin-top: 50px;
    background-color: #32324C;
}
.blogContainer
p{
    font-size: 1rem;
}

.card
img{
    width:100%;
}
*/
.lienBlog{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100px;
    height:40px;
    background-color:#DF5646;
    color : white;
}

.blogContainer{
    padding: 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    height: 250px;
    background-color: #32324C;
}

.blogContainer
img{
    width: 100%;
}
@media only screen and (min-width:500px){
    .blogContainer{
        max-width: 350px;
    }
}