
.myProjectItems{
    /* padding:10px; */
    margin:30px auto;
}

/* .ItemsImages{

} */

.items{
    margin-top:50px;
    padding:2px;
    background-color: #32324C;
}
.items
h2{
    padding: 10px;
    font-size: 1.5rem;
}
.languagesListe{
    padding: 10px;
    margin-top: 10px;
    font-weight: 600;
}

.items
p{
    padding: 10px;
}

.ItemsImages{
    padding: 10px;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:auto;
}

.paragrapheDescription{
    padding-top:20px;
}

.technos{
    padding-top:20px;
}

.projectLink{
    margin: 10px;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 50%;
    font-family: 'poppins';
    background-color: #d88875;
    color: #fff;
    cursor: pointer;
}

@media only screen and (min-width:500px){
    .items{
        max-width: 350px;
    }
}
@media only screen and (min-width:768px){
    .myProjectItems{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: auto;
        gap: 20px;
    }
    .items{

    }
}
