
.myProjectItems{
    background-color: #32324C;
    padding:10px;
    margin:30px auto;
}

.myProjectItems h2{
    padding-top:10px;
}

.projectImage{
    width: 100%;
    padding:5px;
    margin: 0 auto;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projectImage
img{
    width: 90%;
}

.paragrapheDescription{
    padding-top:20px;
}

.technos{
    padding-top:20px;
}

.projectLink{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 50%;
    margin-top: 10px;
    background-color: #d88875;
    color: #fff;
}
