#projects{
    position: relative;
    height: 100vh;
    font-size: 1rem;
}

.projectImageTechno{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.projectImage{
    width: 100%;
}


/* #modale{
    position:absolute;
    top:0;
    left:0;
    height: 100vh;
    background-color: #32324C;
}
#close-btn{
    position: absolute;
    top: 0;
    right: 0;
    width: 10px;
    cursor:pointer;
} */